body, html {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
}
input[type=button] {
    font-size: 12px;
    cursor: pointer;
}
.controls {
    position: absolute;
    color: #f3f3f3;
    margin: 5px;
}
.stats {
    position: absolute;
    top: 0;
    right: 0;
    color: #f3f3f3;
    margin: 5px;
    text-align: right;
}
h2 {
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}
.controls h2 {
    text-align: left;
}
.stats table {
    text-align: left;
    display: inline-block;
    *display:inline;zoom:1;
}
.description {
    border: #333 solid 0;
    border-collapse: collapse;
    margin: 5px;
}
.description td, .description th {
    padding: 3px;
}
.controls .lineLegend {
    display: inline-block;
    *display:inline;zoom:1;
    vertical-align: top;
    height: 10px;
    width: 15px;
    margin: 0 5px;
    border-bottom: 2px solid #ff0;
}
.graphs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.graphs .date {
    height: 20px;
    color: #0f0;
}
.months div {
    display: inline-block;
    *display:inline;zoom:1;
    vertical-align: bottom;
}
.months span {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: -25px;
    border-left: 1px solid #fff;
}
.months p {
    display: inline-block;
    *display:inline;zoom:1;
    vertical-align: bottom;
    margin: 0;
    height: 5px;
}
.months p:nth-child(odd) {
    background: #555;
}
.months svg {
    position: absolute;
    width: 100%;
    top: 35px;
    left: 0;
}
.months .marker {
    position: absolute;
    top: 20px;
    left: -3px;
    height: 45px;
    width: 2px;
    background: #f00;
}
.orbit {
    background: url(imgs.png);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 60px;
    right: 20px;
    overflow: hidden;
}
.orbit .earth {
    background: url(imgs.png) -200px -10px;
    width: 4px;
    height: 4px;
    position: absolute;
    top: -4px;
    left: -4px;
}
.orbit .camera {
    background: url(imgs.png) -200px 0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
}
.orbit .jun, .orbit .sept, .orbit .dec, .orbit .mar {
    color: #f3f3f3;
    position: absolute;
    width: 44px;
    text-align: center;
    white-space: nowrap;
}
.orbit .jun {
    left: 78px;
    top: 5px;
}
.orbit .sept {
    left: 5px;
    top: 92px;
    text-align: left;
}
.orbit .dec {
    left: 78px;
    bottom: 5px;
}
.orbit .mar {
    right: 5px;
    top: 92px;
    text-align: right;
}
